*{
    line-height: 1.1;
}
#now{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
#now::-webkit-scrollbar {
    width: 8px;
  }
#now::-webkit-scrollbar-track {
    background: transparent;
  }
#now::-webkit-scrollbar-thumb {
    background: #dadada;
  }