.posts{
    margin: auto;
    width: 100%;
    height: 70vh;
    background: linear-gradient(45deg,rgb(255, 208, 203),rgb(163, 163, 253));
    backdrop-filter: blur(9rem);
    border-radius: 14px;
    margin-top: 1rem;
}
#pinf{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}
#postown{
    width: 98%;
    height: 10%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#imcon{
    padding: 1rem;
    width: 94%;
    margin: auto;
    height: 87%;
    border-radius: 14px;
}
#pscontain{
    width: 100%;
    margin: auto;
    height: 85%;
    border-radius: 14px;
}
#pinf>i{
    margin-top: 1rem;
    width: 20%;
    font-size: 2rem;
}
#pinf>p{
    margin-top: 1rem;
}
#pinf>p>i{
    width: 20%;
    font-size: 2rem;
}
#pinf>#like:hover{
    background-color: #000;
    color: #fff;
}
#owninfo{
    width: 50%;
    display: flex;
    align-items: center;
}
#tal{
    opacity: .6;
}
#pinf>#like,#req,#comment{
    filter: drop-shadow(1px 1px 10px #fff);
}
#captions{
    margin-top: .45rem;
    color: #000;
    opacity: .7;
    font-weight: 100;
    text-align: start;
}
#pscontain>img{
    height: 100%;
    width: 100%;
    border-radius: 14px;
    object-fit: cover;
}
#owner{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
#owner>img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid black;
}
#myfy{
    width: 22%;
    display: flex;
    font-size: 1.1rem;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
}